:root {
    --creme-bg-color: hsl(0deg 0% 90.98%);
    --default-black: hsl(0deg 0% 0.39%);
    --naslim-gold: hsl(41.2deg 65.35% 75.1% / 100%);
    --naslim-gold-dark: hsl(41 65% 61% / 1);
    --naslim-purple: hsl(298, 13%, 45%);
    --naslim-brown: hsl(340deg 8.67% 33.92%);
    --naslim-light-brown: hsl(340deg 8.67% 33.92% / 79%);
    --naslim-red: hsl(6.61deg 72.57% 34.31%);
    --naslim-white: white;
    --wave-button: #eff2f5;
    --wave-button-shadow: #a5a7a9;

    --triangle-speed: 5;
    --naslim-sm: 640px;
    --naslim-md: 768px;
    --naslim-lg: 1024px;
    --naslim-xl: 1280px;
    --naslim-2xl: 1536px;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.naslim-product-img img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 34em;
    height: auto;
    margin: auto;
    border-radius: 0.8em;
}
.product-block-text {
    text-align: center;
    color: var(--naslim-red);
    font-size: 1.5em;
    font-weight: 500;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.94);
    padding: 1em;
    position: relative;
    bottom: 7em;
}

@media only screen and (min-width: 1020px) {
    .product-container {
        flex-direction: row;
    }
}
